---
layout: default
fancy: true
---

<div class="jumbotron" ng-controller="IndexController as index">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Uplift your software design skills.</h1>
        <p>CodeFlight provides design challenges that you solve iteratively, using tools you are familiar with.</p>
      </div>
      <div class="col-md-2 beta-signup">
        <form novalidate name="signupForm">
          <input type="email" name="email" required placeholder="Email address" class="form-control" ng-model="index.email">
          <button type="submit" class="btn btn-success" ng-disabled="signupForm.$invalid" ng-click="signupForm.$valid && index.submit()">Let me know when Beta is available!</button>
        </form>

        <div class="alert-success" ng-if="index.submitSuccess">
          Thanks for signing up. We will let you know when the playground is open.
        </div>

        <div class="alert-danger" ng-if="index.submitFail">
          Sorry, there was a problem submitting the request. You can 
          <a href="mailto:contact@codeflight.io">email us</a>
          your registration request.!!!
        </div>
      </div>
    </div>
  </div>
</div>

{% include scripts.html %}
<script src="index.js"></script>
