/*------------ general element ------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

p {
  font-size: 16px;
}

/*------------ general class ------------*/

.wide {
  width: 100%;
}

.tower div {
  margin-bottom: 20px;
}

.brick {
  margin-bottom: 20px;
}

.text-light {
  color: #ffffff;
}

.boldNumber {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1em;
}

.dateTimeStamp {
  opacity: 0.65;
  filter: alpha(opacity=65);
  font-size: 85%;
}

.bottom-bump {
  margin-bottom: 10px;
}

.vertical-middle {
  vertical-align: middle;
}

.feature {
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn.contact-us {
  width:200px;
}

.contact-us-box {
  margin-top: 30px;
  border-left: solid 1px #888888;
  padding: 40px 20px;
}

.contact-us-box .button-label {
  font-size: 17px;
  font-weight: bold; 
}

.margin-bottom1-xs { margin-bottom: 2px; }  
.margin-bottom1-sm { margin-bottom: 4px; } 
.margin-bottom1-md { margin-bottom: 8px; }
.margin-bottom1-lg { margin-bottom: 16px; } 

.margin-bottom2-xs { margin-bottom: 3px; }  
.margin-bottom2-sm { margin-bottom: 6px; } 
.margin-bottom2-md { margin-bottom: 12px; }
.margin-bottom2-lg { margin-bottom: 24px; } 


/*------------ application-level ------------*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 6px;
}
