
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.beta-signup {
  margin-top:50px;
  width: 330px;
}

.beta-signup button, .beta-signup input, .beta-signup div {
  margin-top: 10px;
  width: 100%;
}

.beta-signup div {
  padding: 8px 12px;
}

.userCommit {
}

.boldNumber {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1em;
}

.dateTimeStamp {
  opacity: 0.65;
  filter: alpha(opacity=65);
  font-size: 85%;
}

.bottom-bump {
  margin-bottom: 10px;
}

.vertical-middle {
  vertical-align: middle;
}