
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.margin-bottom1-xs { margin-bottom: 2px; }  
.margin-bottom1-sm { margin-bottom: 4px; } 
.margin-bottom1-md { margin-bottom: 8px; }
.margin-bottom1-lg { margin-bottom: 16px; } 

.margin-bottom2-xs { margin-bottom: 3px; }  
.margin-bottom2-sm { margin-bottom: 6px; } 
.margin-bottom2-md { margin-bottom: 12px; }
.margin-bottom2-lg { margin-bottom: 24px; } 

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.beta-signup {
  margin-top:50px;
  width: 330px;
}

.beta-signup button, .beta-signup input, .beta-signup div {
  margin-top: 10px;
  width: 100%;
}

.beta-signup div {
  padding: 8px 12px;
}

.userCommit {
}

.boldNumber {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1em;
}

.dateTimeStamp {
  opacity: 0.65;
  filter: alpha(opacity=65);
  font-size: 85%;
}

.bottom-bump {
  margin-bottom: 10px;
}

.vertical-middle {
  vertical-align: middle;
}

.userCommit .outputFrame {
    height: 800px;
    overflow-y: scroll;
}

.userCommit .testResults iframe {
  width:100%;
  height: 600px;
}