
html {
    background: url('../../images/flock 2710 fade1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-content, body, .footer {
    background-color: transparent;
}