---
---

@import "bootstrap/bootstrap";

.vertical-center {
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-align:center;
}

#feature-boxes {

  .feature-col {
    @extend .col-md-4
  }

  .feature {
    @extend .panel;

    margin-top: 20px;
    margin-bottom: 20px;

    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    cursor:pointer;

    background-color: $gray-dark;
    border: 2px solid $gray-dark;

    .title {
      @extend .panel-heading, .vertical-center;
        
      margin: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      color: white;
      font-family: 'Oswald', sans-serif;
      font-size: 22pt;
    }

    .detail {
      @extend .panel-body;

      max-height: 0;
      padding: 0;
      transition: max-height 0.15s ease-out;
      overflow: hidden;
      background-color: $panel-bg;

      p {
        padding: 14px;
      }
    }
  }

  .feature-col:nth-of-type(2n)  {
    margin-top: 10px;
  }

  .feature:hover {

    background-color: lighten(#324363, 8%);
    border-color: lighten(#324363, 8%);

  }

  .feature.opened {

    border-color: $gray-light;

    .title {
      background-color: $gray-light;
    }

    .detail {
      max-height: 500px;
      border: 2px solid $gray-light;
      transition: max-height 0.25s ease-in;
    }

  }

}