---
---

@import "bootstrap/bootstrap";

.vertical-center {
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-align:center;
}

.feature-col {
  @extend .col-md-4
}

.feature-col > .feature {
  @extend .panel;

  margin-top: 15px;
  margin-bottom: 15px;

  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  .title {
    @extend .panel-heading, .vertical-center;
      
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $gray-dark;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 22pt;
  }

  .detail {
    @extend .panel-body;

    border: 2px solid $gray-light;

    max-height: 0;
    padding: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;

    p {
      padding: 14px;
    }
  }
}

.feature-col > .feature.opened {

  .detail {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

}
